.charSheet{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    width: 50vw;
    align-items: flex-start;

}
.charSheetHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.5);

}

.stats{
    border-radius: 10px;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5) ;
}

.stat{
    padding: 10px;
}

button{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    /* background-color: rgba(56, 240, 253, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
}

button:hover{
    transition: background-color .25s ;

    background-color:rgba(25, 252, 138, 0.5);
}

.suggestion{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5)
}

@media screen and (max-width: 1151px){
    .charSheet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        gap: 20px 20px;
        align-items: flex-start;

    }

    .suggestion{
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        width: 90vw;
        font-size: .8em;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .5)
    }

}
