.charSheet{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.stats{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stat{
    padding: 10px;
}
