.skillHolder{
    width: 25em;
    height: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    align-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
}
svg{
    width: 25%;
    height: 25%;
}

svg:hover{
    fill:rgba(25, 252, 138, 0.5)
}
.allSkill{
    text-align: center;
}
